body {
	background-color: black;
}

p {
	color: white;
	border: blue;
	border-width: 5px;
	border-style: solid;
	border-radius: 10px;
	width: 250px;
	height: 24px;
	padding: 20px;
	font-size: 30px;
	top: 50%;
  	left: 50%;
  	position: absolute !important;
  	cursor: pointer;
}

.top{
	margin: -66px 0 0 -145px;
}

.center{
  margin: -11px 0 0 -145px;
  background-color: black;
}


.bottom{
	margin: 22px 0 0 -145px;
	padding-bottom: 60px;
}

.name{
	margin:-66px 0 0 -145px;
	height: 75px;
}

.small {
	font-size: 25px
}

.container{
	text-align: center;
	margin: 0 auto;
}

.activeup {
	border-bottom: 60px solid green !important;
}
.activedown {
	border-top: 60px solid green !important;
}
.activeleft {
	border-right: 60px solid green !important;
}
.activeright {
	border-left: 60px solid green !important;
}


.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  position: absolute;
  left: calc(50% - 60px);
  top: calc(50% - 90px);
  border-bottom: 60px solid blue;
  

}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  position: absolute;
  left: calc(50% - 60px);
  top: calc(50% + 90px);
  border-top: 60px solid blue;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  position: absolute;
  left: calc(50% + 60px);
  top: calc(50% - 30px);
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid blue;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent; 
  position: absolute;
  left: calc(50% - 120px);
  top: calc(50% - 30px);
  border-right:60px solid blue; 
}

